[Unit]
Description=Runs backup script hourly 

[Timer]
OnBootSec=10min
OnUnitActiveSec=1h
Unit=112_queue_db_backup.service

[Install]
WantedBy=multi-user.target
