option_settings:
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /html:       /static/html/
    /images:     /static/images/
    /js:         /static/js/
    /style:      /static/style/
    /tmp:        /static/tmp/
    /app.js:      /static/app.js
    /favicon.ico: /static/favicon.ico
    /index.html:  /static/index.html
