<nav>
	<div class="nav-wrapper light-blue darken-3">
		<a href="/" class="brand-logo center hide-on-small-only">{{ user_name + "'s Portal" }}</a>
		<a href="/" class="brand-logo center hide-on-med-and-up">{{ user_name }}</a>
		<a data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down" data-block="menu_links"></ul>
		<ul class="side-nav" id="mobile-menu" data-block="menu_links"></ul>
	</div>
</nav>

<div class="container" data-block="content">

	
</div>
