<div data-extend-template="/html/base.html">

	<!-- Content -->
	<div data-block-append="content">
	<div class="container">
   	<br />

   	<div class="row">


	<ul class="collapsible popout" data-collapsible="accordion">
		<li id="update_minute_rule_li">
			<div class="collapsible-header"><b>Minute Rule</b></div>
			<div class="collapsible-body">
			<p>
				The minute rule denotes the maximum amount of time a TA should spend with a student.
				<br/>
				<br/>
          		<label for="minuteRule">Update Minute Rule</label>
				<input id="minuteRule" value="{{ $db.model['queue_meta'][0].time_limit }}" type="text">
				<button id="update_rule_btn" ng-click="update_minute_rule()" class="btn blue">Change</button>

			</p>
			</div>
		</li>
		<li id="update_minute_rule_li">
			<div class="collapsible-header"><b>Topics</b></div>
			<div class="collapsible-body">

			<ul class="collection">
				<li class="{{ t.enabled ? '' : 'grey lighten-4 grey-text' }} collection-item" ng-repeat="t in $db.model.topics | orderBy : 'topic'">
                                                    <span ng-if="t.enabled" class=" new badge red darken-2 waves-effect clickable"  data-badge-caption="Disable" ng-click="select(t.topic, 'Topic', t.id)" ng-href="#modaldelete" modal ></span>
                                                    <span ng-if="!(t.enabled)" class="new badge blue waves-effect clickable"  data-badge-caption="Enable"  ng-click="select(t.topic, 'Topic', t.id); enable_topic_or_loc()"></span>
                                                   {{ t.topic}}
                                                </li>
				<a ng-href="#modal_add_topic" modal><li class="collection-item"><i class="tiny material-icons">add</i> Add topic</li></a>
			</ul>


			</div>
		</li>
		<li id="update_minute_rule_li">
			<div class="collapsible-header"><b>Locations</b></div>
			<div class="collapsible-body">

                                    <ul class="collection">
                                        <li class="{{ l.enabled ? '' : 'grey lighten-4 grey-text' }} collection-item" ng-repeat="l in $db.model.locations | orderBy : 'location' ">
                                                                            <span ng-if="l.enabled" class=" new badge red darken-2 waves-effect clickable"  data-badge-caption="Disable" ng-click="select(l.location, 'Location', l.id)" ng-href="#modaldelete" modal ></span>
                                                                            <span ng-if="!(l.enabled)" class="new badge blue waves-effect clickable"  data-badge-caption="Enable"  ng-click="select(l.location, 'Location', l.id); enable_topic_or_loc()"></span>
                                                                           {{ l.location}}
                                                                        </li>
                                        <a ng-href="#modal_add_location" modal><li class="collection-item"><i class="tiny material-icons">add</i> Add location</li></a>
                                    </ul>
			</div>
		</li>

		<li>
			<div class="collapsible-header"><b>Staff Assignment</b></div>
			<div class="collapsible-body">
			<p>
				Enter a staff member's Google email below to add them as staff to the queue.
				<br/>
				<br/>
							<label for="new_ca_andrew_id">New Goolge Email</label>
				<input id="new_ca_andrew_id" type="text">
				<button ng-click="add_ca_andrew_id()" class="btn blue">Add Staff</button>
				<ul class="collection">
					<li ng-repeat="t in tas">
						<span class=" new badge red darken-2 waves-effect clickable"  data-badge-caption="Remove" ng-click="select_ta(t.andrew_id)" ng-href="#modal_ta_delete" modal ></span>
						{{ t.andrew_id }}
					</li>
				</ul>
			</p>
		</div>
		</li>

		<li id="batch_role_assignment">
			<div class="collapsible-header"><b>Batch Staff Assignment</b></div>
			<div class="collapsible-body">

			<p>
		        Add multiple staff members to your course
		        <br/>
		        <br/>
		        <div style="color: #9e9e9e; padding-left: 29px; font-size: 0.8rem">Upload File <a ng-href="#modal_instructions" modal>(Instructions)</a></div>
		        <div class="file-field input-field" style="padding-left: 29px; padding-right: 29px">
		          <div class="btn blue">
		            <span>Select File</span>
		            <input id="csv_input" type="file" accept=".txt">
		          </div>
		          <div class="file-path-wrapper">
		            <input class="file-path validate" type="text">
		          </div>
		          <br/>
		          <button id="batch_role_btn" ng-click="batch_role()" class="btn blue">Submit</button>
		        </div>

		      </p>
		</li>
	</ul>

   	</div>

	</div>

      <!-- Confirm Delete  -->
      <div class="modal bottom-sheet" id="modaldelete">
        <div class="modal-content">
          <div class="container">
            <div class="row row-tight valign-wrapper">
              <div class="col s8 valign">
                <h5>Disable {{ selected_del }}</h5>
                <p>Are you sure you want to disable '{{ selected_del_item }} '?</p>
              </div>
              <div class="col s4 valign right">
                <a id="prefbtn" ng-click="delete_topic_or_loc()" name="do_delete" class="modal-action modal-close waves-effect waves-light btn-flat red-text">Disable</a>
                <a id="prefbtn" class="modal-action modal-close waves-effect waves-light btn-flat">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      </div>

			<!-- Confirm TA delete -->
			<div class="modal bottom-sheet" id="modal_ta_delete">
        <div class="modal-content">
          <div class="container">
            <div class="row row-tight valign-wrapper">
              <div class="col s8 valign">
                <h5>Remove {{ selected_ta }} as a staff member</h5>
                <p>Are you sure you want to remove {{ selected_ta }}?</p>
              </div>
              <div class="col s4 valign right">
                <a id="prefbtn" ng-click="delete_ta()" name="do_delete" class="modal-action modal-close waves-effect waves-light btn-flat red-text">Remove</a>
                <a id="prefbtn" class="modal-action modal-close waves-effect waves-light btn-flat">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Add topic modal -->
    <div class="modal modal-fullheight container" id="modal_add_topic">
      <div class="modal-content">
        <h5> Add Topic </h5>
        <div class="divider"></div>
        <div class="section" style="padding-bottom: 0">
			<label for="new_topic">Topic</label>
			<input id="new_topic" type="text">
			<button id="new_topic_button" ng-click="$db.add_new_topic()" class="modal-action modal-close btn blue">Add Topic</button>
        </div>
      </div>
      <div class="divider"></div>
  	</div>


      <!-- Add location modal -->
    <div class="modal modal-fullheight container" id="modal_add_location">
      <div class="modal-content">
        <h5> Add Location</h5>
        <div class="divider"></div>
        <div class="section" style="padding-bottom: 0">
          		<label for="new_location">Location</label>
				<input id="new_location" type="text">
				<button id="new_location_button" ng-click="$db.add_new_location()" class="modal-action modal-close btn blue">Add</button>



        </div>
      </div>
      <div class="divider"></div>
  	</div>


  	<div class="modal modal-fullheight container" id="modal_instructions">
      <div class="modal-content">
        <h5> Instructions for Batch Assignment of Staff </h5>
        <div class="divider"></div>
        <div class="section" style="padding-bottom: 0">
          Please upload a '.txt' file with the AndrewID's of the staff delimited by new-lines. For example, in my file 'staff.txt', I would put:
          <br/>
          <br/>
          <code>
            fmarsh@andrew.cmu.edu<br/>
            aschick@andrew.cmu.edu<br/>
            edryer@andrew.cmu.edu
          </code>
          <br/>
          <br/>
          Make sure that there are no additional characters in the file other than the AndrewID's.
          <br/>
          <div class="divider"></div>
          <br/>
          <a id="prefbtn" class="modal-action modal-close waves-effect waves-light btn-blue">Close</a>
        </div>
      </div>
      <div class="divider"></div>
    </div>
	</div>




</div>
