<nav>
  <div class="nav-wrapper light-blue darken-3" ng-class="{true:'light-blue darken-3', false:'blue-grey darken-1'}[$db.io_connected]">
    <div id="name_brand" class="brand-logo center">
      {{ current_page === 'landing' ? 'Office Hours Queue' : cur_course_num }}
    </div>

    <ul ng-if="current_page !== 'landing'" class="left hide-on-med-and-down">
      <li>
        <a class="btn-floating blue" href="/#/courses">
          <i class="material-icons">arrow_backward</i>
        </a>
      </li>
      <li ng-if="user.role === 'ca'">
        <a href="/#/ca">Queue</a>
      </li>
      <li ng-if="user.role === 'ca'">
        <a href="/#/admin">Admin</a>
      </li>  
      <li ng-if="user.role === 'ca'">
        <a href="/#/ca/stats">Stats</a>
      </li>
      <li ng-if="user.role === 'student'">
        <a href="/#/student">Queue</a>
      </li>
      <li ng-if="user.role === 'student'">
        <a id="faq" href="#modalhelp" ng-click="clicked_faq()" modal>FAQ</a>
      </li>
      <li ng-if="user.role === 'student'">
        <a id="debugging_tips" href="#modaltips" ng-click="clicked_debugging_tips()" modal>Debugging</a>
      </li>
    </ul>

    <ul class="right hide-on-med-and-down">
      <li ng-if="user.role === 'ca'">
        <a id="faq" href="#modalhelp" ng-click="clicked_faq()" modal>FAQ</a>
      </li>
      <li>
        <a href="/#/account">Account</a>
      </li>

      <!-- TODO: better verification for course admin access -->

      <!-- <li ng-if="user.is_admin"> -->
      <li>
        <a href="/#/course_admin">Courses</a>
      </li>
      <li>
        <a href="/api/login/endauth">Log out</a>
      </li>
    </ul>
    <ul class="right" ng-if="!$db.io_connected">
      <li>
        <a class="grey-text text-lighten-2">Connecting...</a>
      </li>
    </ul>

    <a href="#!" data-activates="mobile-menu" class="button-collapse" sidenav closeonclick="true" menuwidth="175">
      <i class="material-icons">menu</i>
    </a>

    <ul class="side-nav" id="mobile-menu">
      <li ng-if="user.role === 'ca' && current_page !== 'landing'">
        <a href="/#/ca">Queue</a>
      </li>
      <li ng-if="user.role === 'ca' && current_page !== 'landing'">
        <a href="/#/admin">Admin</a>
      </li>

      <!-- <li ng-if="user.is_admin && current_page !== 'landing'"> -->
      <li ng-if="user.andrew_id === 'fmarsh@andrew.cmu.edu'"> 
        <a href="/#/course_admin">Courses</a>
      </li>
      <li ng-if="user.role === 'ca' && current_page !== 'landing'">
        <a href="/#/ca/stats">Stats</a>
      </li>
      <li ng-if="user.role === 'student' && current_page !== 'landing'">
        <a href="/#/student">Queue</a>
      </li>
      <li>
        <a href="/#/account">Account</a>
      </li>
      <li>
        <a id="faq" ng-click="clicked_faq()"  href="#modalhelp" modal>FAQ</a>
      </li>
      <li ng-if="user.role === 'student'">
        <a id="debugging_tips" href="#modaltips" ng-click="clicked_debugging_tips()" modal>Debugging</a>
      </li>
      <div class="divider"></div>
      <li>
        <a href="/api/login/endauth">Log out</a>
      </li>
    </ul>
  </div>
</nav>

<div class="progress" style="margin: 0; background-color: transparent">
  <div class="indeterminate" ng-if="!$db.io_connected"></div>
</div>

<div data-block="content">
</div>

 <!-- FAQ Modal -->
<div ng-if="user.role === 'ca'" class="modal modal-fixed-footer container" id="modalhelp">
  <div class="modal-content">
    <h4>FAQ</h4>
    <div class="divider"></div>
    <div class="section">
    <h5>What happens when I close the queue?</h5>
    <p> Closing the queue prevents students from asking questions. It does not delete existing questions. </p>
    <div class="divider"></div>
    <h5>What does it mean to freeze a question?</h5>
    <p> Freezing a question takes it off the queue for 10 minutes. After 10 minutes is up (or a student chooses to be unfrozen), the question is put back onto the queue in the same position. This is useful if students need to go to the bathroom or get a snack. It can also be used the first time you can't find a student. </p>
    <div class="divider"></div>
    <h5>Should I kick,freeze, or finish the question I am answering?</h5>
    <p>If you find the student and answer their question, click finish. If you can't find them, try to freeze their question. If you can't (the button is grey, meaning they were already frozen once), then kick them from the queue. </p>  
    <div class="divider"></div>
    <h5>What if the queue goes down?</h5>
    <p>There is a queue backup spreadsheet in the shared Google Drive folder. It has every question asked, with the most recent ones at the bottom.  </p>
    <div class="divider"></div>
    <h5>A student got an error saying “Your login attempt was denied. This is likely because you are not marked as in 15-112.” What do I do?</h5>
    <p>We don’t let anyone login to the queue unless they are in 15-112. This student was probably added to the class after the roster was entered into the queue.  Go to Administration -> Grant Queue Access, and add the student. They should now be able to login. </p> 
    </div>
  </div>
  <div class="modal-footer">
      <a id="prefbtn" class="modal-action modal-close waves-effect btn-flat">Close</a>
  </div>
</div>


<!-- FAQ Modal (student) -->
<div ng-if="user.role === 'student'" class="modal modal-fixed-footer container" id="modalhelp">
  <div class="modal-content">
    <h4>FAQ</h4>
    <div class="divider"></div>
    <div class="section">
      <h5>How does freezing work?</h5>
      <p>When you freeze your question, you'll keep your position on the queue, but a CA won't answer your question until you're unfrozen.</p>
      <p>It's useful when you're near the front of the queue, but need to go to the bathroom or get some food.</p>
      <div class="divider"></div>
      <h5>How many times can I freeze my question?</h5>
      <p>Up to once per question.</p>
      <div class="divider"></div>
      <h5>How do I freeze my question?</h5>
      <p>Hit the freeze button: <i class="tiny material-icons grey-text lighten-1">pause</i></p>
      <div class="divider"></div>
      <h5>How can I unfreeze my question?</h5>
      <p>Hit the unfreeze button: <i class="tiny material-icons grey-text lighten-1">play_arrow</i></p>
      <p>Otherwise, you'll be automatically unfrozen after 10 minutes.</p>
      <div class="divider"></div>
      <h5>What does "the queue is closed" mean?</h5>
      <p>If the queue is closed, that means you can't ask a question. If the queue is closed while you have a question on the queue, your question will not be deleted. </p>
      <div class="divider"></div>
      <h5>Why was my question kicked?</h5>
      This means that a TA could not find you. When a TA tries to find you and fails, they will first freeze your question if it hasn't been frozen once already. The second time (or if you already used a freeze), your question gets removed from the queue. If you think you were kicked by accident, please see a TA.  
    </div>
  </div>
  <div class="modal-footer">
      <a id="prefbtn" class="modal-action modal-close waves-effect btn-flat">Close</a>
  </div>
</div>

<!-- Debugging Tips Modal -->
<div ng-if="user.role === 'student'" class="modal modal-fixed-footer container" id="modaltips">
  <div class="modal-content">
    <h4>Debugging Tips</h4>
    <div class="divider"></div>
    <div class="section">
      <h5>Identify a test case that triggers the problem</h5>
      <p>
            The first thing you need to do is identify the smallest possible test-case that triggers a bug or error. This will allow you to isolate the issue and really focus on the issue in the context of a concrete example. Comment out all other things, run your code, and then trace through your code on the single test case to figure out where your code is diverging from what you expect it to do.
      </p>

      <div class="divider"></div>
      <h5>Use print statements</h5>
      <p>
Almost every TA will ask you if you've added print statements to your code. Put print statements all over your code to (a) figure out the value of variables and see if they are what you expect or (b) see if your code executes far enough to get to the print statement or (c) etc. </p>
      <div class="divider"></div>
      <h5>Explain the logic of your code to a friend or a duck</h5>
Have you ever explained your code to a TA and then instantly realized what the issue was? This is called rubber-ducky debugging (coined term). Basically, explain to yourself or your friend or a rubber duck what your code is doing and while doing that you will realize issues you hadn’t thought of when you were staring at you code. 
    </div>
  </div>
  <div class="modal-footer">
      <a id="prefbtn" class="modal-action modal-close waves-effect btn-flat">Close</a>
  </div>
</div>

