<nav>
	<div class="nav-wrapper light-blue darken-3">
		<a href="" class="brand-logo center">Register</a>
	</div>
</nav>

<div class="container">
	<div class="row">
		<br />
		<form>
		<div input-field>
		    <label>Andrew ID</label>
		    <input id="andrew_id" ng-model="register_info.andrew_id" type="text" required>
		</div>

		<div input-field>
		    <label>Email</label>
		    <input id="email" ng-model="register_info.email" type="text" required>
		</div>

		<div input-field>
		    <label>Password</label>
		    <input id="password" ng-model="register_info.password" type="password" required>
		</div>

		<div input-field>
		    <label>Confirm Password</label>
		    <input id="conf_password" ng-model="register_info.conf_password" type="password" required>
		</div>

		<div input-field>
		    <label>First Name</label>
		    <input id="first_name" ng-model="register_info.first_name" type="text" required>
		</div>

		<div input-field>
		    <label>Last Name</label>
		    <input id="last_name" ng-model="register_info.last_name" type="text" required>
		</div>

		<div input-field>
		    <label>Registration Code (Ask a TA for this!) </label>
		    <input id="registration_code" ng-model="register_info.registration_code" type="password" required>
		</div>

		<div input-field class="center">
			<input id="reg_submit" ng-click="register()" class="btn light-blue darken-3" type="submit">
		</div>
		</form>

	</div>
</div>

