<div data-extend-template="/html/base.html">

  <!-- Content --> 
  <div data-block-append="content">
  <div class="container">
    <br />

    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              This semester
            </span>
            <div class="divider"></div>
            <!-- Empty row for spacing -->
            <div class="row"></div>
            <div class="row row-tight center-align">
              <div class="col s6">
                <h4>{{ questions_answered | number }}</h4>
                <h5 class="grey-text"><small>questions answered</small></h5>
              </div>
              <div class="col s6">
                <h4>{{ time_spent_answering / 60 / 60 | number:1 }}</h4>
                <h5 class="grey-text">
                  <small>
                    <span>TA hours spent</span>
                    <span class="clickable" tooltipped-dynamic data-position="top" data-html="true" data-delay="0" data-tooltip="">
                      <i class="tiny material-icons">info_outline</i>
                      <ul class="hide">
                        <li>≈ ${{ time_spent_answering / 60 / 60 * 11 | number:2 }}</li>
                      </ul>
                    </span>
                  </small>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              Your contributions
            </span>
            <div class="divider"></div>
            <!-- Empty row for spacing -->
            <div class="row"></div>
            <div class="row {{ ca_counts_map[user.id].question_count === 0 ? 'row-tight' : '' }}">
              <div class="col s12">
                <h5 ng-if="ca_counts_map[user.id].question_count === 0">
                  <span class="grey-text"><small>You haven't answered any questions yet.</small></span>
                </h5>
                <h5 ng-if="ca_counts_map[user.id].question_count > 0">
                  <span class="grey-text"><small>You've answered</small></span>
                  <span>{{ ca_counts_map[user.id].question_count | number }}</span>
                  <span class="grey-text"><small>question{{ ca_counts_map[user.id].question_count === 1 ? '' : 's' }} from</small></span>
                  <span>{{ unique_student_count }}</span>
                  <span class="grey-text"><small>{{ unique_student_count === 1 ? 'student.' : 'different students.' }}</small></span>
                </h5>
              </div>
            </div>
            <div class="row row-tight">
              <div class="col s12 m6">
                <i ng-repeat="i in range(ca_counts_map[user.id].question_count)" class="tiny material-icons grey-text text-lighten-1">help_outline</i>
              </div>
              <div class="col s12 m6">
                <i ng-repeat="i in range(unique_student_count)" class="tiny material-icons grey-text text-lighten-1">person</i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <span class="card-title black-text">
              Questions answered
            </span>
            <div class="divider"></div>
            <div class="row"></div>
            <div class="row row-tight">
              <div class="col s12">
                <table class="striped">
                  <tbody>
                    <tr ng-repeat="ca in ca_counts | orderBy:['-question_count', 'first_name'] track by $index" ng-class="{true: 'light-blue-text text-darken-4'}[ca.user_id === user.id]">
                      <td style="padding: 7px 7px" class="left-align">
                        {{ ca.first_name }} {{ ca.last_name }}
                      </td>
                      <td style="padding: 7px 7px" class="right-align">{{ ca.question_count }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  </div>

</div>
