<div data-extend-template="/html/base.html">

  <!-- Nav Bar -->
  <ul data-block-append="menu_links">
    <li><a href="/api/login/endauth">Log Out</a></li>
    <li><a href="#modalhelp" modal>FAQ</a></li>
  </ul>

  <!-- Content --> 
  <div data-block-append="content">
    <div class="container">
      <br />

      <!-- Status info -->
      <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-content">
              <span class="card-title black-text">
                Happening now
              </span>
              <div class="divider"></div>
              <h5>
                <span class="grey-text"><small>The queue is </small></span>
                <span id="closed" class="{{ $db.model.queue_meta[0].open ? 'green-text' : 'red-text' }}">{{ $db.model.queue_meta[0].open ? 'open' : 'closed' }}</span>
                <span class="grey-text"><small>.</small></span>
              </h5>
              <h5 ng-if="$db.model.queue_meta[0].open">
                <span>{{ $db.model.queue_meta[0].num_questions === 0 ? 'No' : $db.model.queue_meta[0].num_questions }} student{{ $db.model.queue_meta[0].num_questions === 1 ? '' : 's'}}</span>
                <span class="grey-text"><small> {{ $db.model.queue_meta[0].num_questions === 1 ? 'is' : 'are' }} on the queue.</small></span>
              </h5>
            </div>
          </div>
        </div>
      </div>

      <!-- Ask a question -->
      <div class="row" ng-if="$db.model.questions.length === 0">
        <div class="col s12">
          <div class="card">
            <div class="card-content">
              <span id="can_ask_question" class="card-title black-text">
                Ask a question
              </span>
              <div class="divider"></div>
              <form novalidate class="section">
                <div class="row row-tight">
                  <div class="input-field col s6">
                    <select ng-model="selected.topic" material-select watch>
                      <option name="topic_option" value="{{ t.id }}" ng-repeat="t in $db.model.topics">{{t.topic}}</option>
                    </select>
                    <label>Topic</label>
                  </div>
                  <div class="input-field col s6">
                    <select ng-model="selected.location" material-select watch>
                      <option name="location_option" value="{{ l.id }}" ng-repeat="l in $db.model.locations">{{ l.location }}</option>
                    </select>
                    <label>Location</label>
                  </div>
                </div>
                <div class="row row-tight">
                  <div class="input-field col s12">
                    <textarea id="q_desc" placeholder="Why is my isPrime timing out?" id="q_desc" class="materialize-textarea" ng-model="selected.help_text"></textarea>
                    <label>Question</label>
                  </div>
                </div>
                <div class="row row-tight">
                  <div class="col s12 center">
                    <a id="submit_new_q" class="btn btn-full waves-effect waves-light green" ng-click="ask_question()">Ask</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Current question -->
      <div class="row" ng-if="$db.model.questions.length > 0">
        <div class="col s12">
          <div class="card">
            <div class="card-content {{ q.is_frozen ? 'grey-text' : '' }}" ng-repeat="q in $db.model.questions">
              <span id="your_question_student" class="card-title black-text">
                Your question
              <a id="delete_question" class="right grey-text text-lighten-1" href="#modaldelete" modal>
                <i class="material-icons">delete</i>
              </a>
              <span class="right">&nbsp;&nbsp;</span>
              <a id="edit_question" class="right grey-text text-lighten-1" href="#modaleditquestion" modal>
                <i class="material-icons">mode_edit</i>
              </a>
              <span class="right">&nbsp;&nbsp;</span>
              <a id="toggle_freeze" class="right grey-text {{ q.can_freeze || q.is_frozen ? 'text-lighten-1 clickable' : 'text-lighten-3 non-clickable' }}" ng-click="toggle_freeze()">
                <i class="material-icons">{{ q.is_frozen ? 'play_arrow' : 'pause' }}</i>
              </a>
              </span>
              <div class="divider"></div>
              <div class="row row-tight section">
                <div class="col s4 m2" ng-if="q.state === 'answering'">
                  <h5>
                    <span id="question_status_ta" class="green-text"><small>A TA is<br />on the way</small></span>
                  </h5>
                </div>
                <div class="col s4 m2" ng-if="q.state !== 'answering'">
                  <h5>
                    <span id="queue_position">{{ q.queue_ps+1 }}</span>
                    <span class="grey-text"><small>of {{ $db.model.queue_meta[0].num_questions }}</small></span>
                  </h5>
                  <p>
                    <span id="question_status" class="grey-text">{{ q.is_frozen ? 'frozen' : 'on the queue' }}</span>
                  </p>
                </div>
                <div class="col s8 m10">
                  <h5>
                    {{ q.location }}
                    <!-- This span is required for alignment with the other column -->
                    <span><small></small></span>
                  </h5>
                  <p>
                    <span>{{ q.topic }}:<span>
                    <span id="help_text" ng-if="q.help_text">{{ q.help_text }}</span>
                    <span ng-if="!q.help_text"><em>No additional details</em></span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Old questions -->
      <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-content">
              <span class="card-title black-text">
                Your recent questions
              </span>
            </div>
            <ul class="collection">
              <li class="collection-item" ng-repeat="q in $db.model.closed_questions | orderBy: '-off_time' | limitTo: 5">
                <h5>{{ q.topic }} <small>{{ q.location }}</small></h5>
                <p ng-if="q.help_text">{{ q.help_text }}</p>
                <p ng-if="!q.help_text"><em>No additional details</em></p>
                <p class="grey-text"><em>{{ $db.get_pretty_state(q.state) }} <span am-time-ago="q.off_time"></span></em></p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Edit Question Modal -->
      <div class="modal bottom-sheet" id="modaleditquestion">
        <div class="modal-content container">
          <h5>Edit question</h5>
          <form novalidate class="section">
            <div class="row row-tight">
              <div class="input-field col s6">
                <select ng-model="selected.topic" material-select watch>
                  <option value="{{ t.id }}" ng-repeat="t in $db.model.topics">{{t.topic}}</option>
                </select>
                <label>Topic</label>
              </div>
              <div class="input-field col s6">
                <select class="" ng-model="selected.location" material-select watch>
                  <option value="{{ l.id }}" ng-repeat="l in $db.model.locations">{{l.location}}</option>
                </select>
                <label>Location</label>
              </div>
            </div>
            <div class="row row-tight">
              <div class="input-field col s12">
                <textarea id="edit_question_help_text" placeholder="Why is my isPrime timing out?" id="q_desc" class="materialize-textarea" ng-model="selected.help_text"></textarea>
                <label>Question</label>
              </div>
            </div>
            <div class="row row-tight">
              <div class="col s12 center">
                <a id="edit_question_submit" class="btn btn-full waves-effect waves-light green" ng-click="update_question()">Edit</a>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- FAQ Modal -->
      <div class="modal modal-fixed-footer" id="modalhelp">
        <div class="modal-content container">
          <h4>FAQ</h4>
          <div class="divider"></div>
          <div class="section">
            <h5>How does freezing work?</h5>
            <p>When you freeze your question, you'll keep your position on the queue, but a CA won't answer your question until you're unfrozen.</p>
            <p>It's useful when you're near the front of the queue, but need to go to the bathroom or get some food.</p>
            <div class="divider"></div>
            <h5>How many times can I freeze my question?</h5>
            <p>Up to once per question.</p>
            <div class="divider"></div>
            <h5>How do I freeze my question?</h5>
            <p>Hit the freeze button: <i class="tiny material-icons grey-text lighten-1">pause</i></p>
            <div class="divider"></div>
            <h5>How can I unfreeze my question?</h5>
            <p>Hit the unfreeze button: <i class="tiny material-icons grey-text lighten-1">play_arrow</i></p>
            <p>Otherwise, you'll be automatically unfrozen after FREEZE_TIME minutes.</p>
          </div>
        </div>
        <div class="modal-footer">
            <a id="prefbtn" class="modal-action modal-close waves-effect btn-flat">Close</a>
        </div>
      </div>

      <!-- Confirm Delete  -->
      <div class="modal bottom-sheet" id="modaldelete">
        <div class="modal-content">
          <div class="container">
            <div class="row row-tight valign-wrapper">
              <div class="col s8 valign">
                <h5>Delete question?</h5>
                <p>You will lose your position on the queue.</p>
              </div>
              <div class="col s4 valign right">
                <a id="prefbtn" ng-click="$db.delete_question()" name="do_delete" class="modal-action modal-close waves-effect waves-light btn-flat red-text">Delete</a>
                <a id="prefbtn" class="modal-action modal-close waves-effect waves-light btn-flat">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
