option_settings:
  aws:elb:listener:443:
    ListenerProtocol: SSL
    SSLCertificateId: arn:aws:acm:us-east-2:548878589236:certificate/412f7aca-1e10-4221-91e7-19360ce114
    InstancePort: 80
    InstanceProtocol: SSL
  aws:elb:listener:80:
    ListenerProtocol: TCP
    InstancePort: 3000
    InstanceProtocol: TCP
