.mainpg {
  display: flex;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

body {
    background: url(../images/bluebg3.jpg) no-repeat center center fixed #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

h1 {
  font-family: Ostrich Sans, Trebuchet, sans-serif;
  font-size: 80px;
}
